/* * {
  box-sizing: border-box;
} */

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  /* background-color: blue; */
}

a {
  color: inherit;
  text-decoration: none;
}

/* HEADER */

header {
  /* height: 80px; */
  background-color: whitesmoke;
}

.header-div {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  padding: 20px 50px;
  box-sizing: border-box;
}

.header-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  /* border: 2px red solid; */
}

.header-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  /* border: 2px yellow solid; */
}

header img {
  width: 80px;
  height: 40px;
}

header input {
  width: 70%;
  height: 45px;
  outline-color: transparent;
  border: none;
  border-radius: 5px;
  background-color: #d5d6d7;
}

.button1 {
  border: 1px #2db0ba solid;
  color: #2db0ba;
  border-radius: 5px;
  width: 20%;
  height: 35px;
}

.button2 {
  background-color: #2db0ba;
  color: white;
  margin-left: 20px;
  border-radius: 5px;
  width: 30%;
  height: 35px;
}

/* HOME PAGE */

.home {
  padding: 40px;
  box-sizing: border-box;
}
.home img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  position: relative;
}

.start-sell {
  /* border: 2px red solid; */
  width: 20%;
  height: 150px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 240px;
  top: 120px;
  right: 1200px;
  font-size: 20px;
  background-color: white;
}

.start-sell button {
  width: 60%;
  height: 25%;
  background-color: #2db0ba;
  color: white;
  border-radius: 5px;
  border: none;
}

h2 {
  font-size: 1.5rem;
}

.all-cards {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  width: 100%;
  /* border: 4px black solid; */
  flex-wrap: wrap;
  /* background-color: gold; */
}

.card {
  width: 23%;
  display: flex;
  flex-direction: column;
  /* border: 2px red solid; */
  margin: 20px 0px;
  box-sizing: border-box;
}

.card-name {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px blue solid; */
  padding-left: 10px;
  box-sizing: border-box;
}

.card-img {
  width: 100%;
  /* border: 2px green solid; */
}

.card-img img {
  object-fit: cover;
}

.card:hover {
  cursor: pointer;
}

.card-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px pink solid; */
  width: 100%;
  height: 30px;
}

.card-name img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

/* OFFER PAGE */

.offer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  background-color: #ebedee;
  padding: 50px;
  /* border: 2px red solid; */
}

.offer-left {
  width: 50%;
  margin-bottom: 100px;
  /* border: 2px red solid; */
}

.offer-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  /* border: 2px blue solid; */
  margin-bottom: 100px;
  background-color: white;
}

.right-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  height: 10%;
  /* border: 2px green solid; */
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.5rem;
}

.right-start {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 25px;

  width: 100%;
  height: 30%;
  /* border: 2px green solid; */
  /* background-color: blue; */
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  overflow: auto;
}

.right-start::-webkit-scrollbar {
  display: none;
}
/* .bloc_photo::-webkit-scrollbar {
  /* display: none; 
 
} */

.right-start span {
  text-align: center;
}

.right-end {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 40%;
  /* border: 2px yellow solid; */
  line-height: 40px;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.right-end::-webkit-scrollbar {
  display: none;
}

.center {
  width: 100%;
  display: flex;
  /* border: 2px red solid; */
}

.center p {
  width: 50%;
  /* border: 2px blue solid; */
  opacity: 0.5;
}

.right-owner {
  /* background-color: gold; */
  display: flex;
}

.right-owner img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
}

.product-name {
  font-weight: bold;
}

.description {
  opacity: 0.5;
}

.button-end {
  width: 100%;
  height: 20%;
  /* border: 2px red solid; */
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button-end button {
  width: 80%;
  height: 40%;
  border-radius: 5px;
  background-color: #1fb0ba;
  color: white;
  border: none;
}

.link-offer {
  margin: ;
  background-color: #1fb0ba;
  color: white;
  font-size: 1.5rem;
  border-radius: 5px;
  text-align: center;
}
/* MEDIA QUERIES */
/* PALLIER 868 PX */
@media (max-width: 868px) /* HOME PAGE */ {
  .card {
    width: 30%;
    display: flex;
    flex-direction: column;
    /* border: 2px red solid; */
    margin: 20px 0px;
    box-sizing: border-box;
  }

  .header-div {
    display: flex;
    flex-direction: column;

    padding: 20px 50px;
    box-sizing: border-box;
  }

  .header-start {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 2px red solid; */
  }

  .header-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 2px yellow solid; */
  }

  /* OFFER PAGE */

  .offer {
    /* border: 2px red solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebedee;
    padding: 50px;
  }

  .offer-left {
    width: 80%;
  }

  .offer-right {
    width: 80%;
  }

  .button-end {
    width: 100%;
    height: 40%;
    /* border: 2px red solid; */
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .button-end button {
    width: 80%;
    height: 50px;
    border-radius: 5px;
    background-color: #1fb0ba;
    color: white;
    border: none;
    /* border: 2px yellow solid; */
  }

  .right-start {
    font-size: 1rem;
    overflow: auto;
  }

  .right-end {
    font-size: 1rem;
    overflow: auto;
  }

  /* PALLIER 68 PX */
  @media (max-width: 768px) {
    .card {
      width: 45%;
      display: flex;
      flex-direction: column;
      /* border: 2px red solid; */
      margin: 20px 0px;
      box-sizing: border-box;
    }

    .right-start {
      font-size: 1rem;
      overflow: auto;
      border: 2px red solid;
    }

    .right-end {
      font-size: 2rem;
      overflow: auto;
      border: 2px green solid;
    }
  }
  /* PALLIER 524 PX */
  @media (max-width: 524px) {
    .all-cards {
      margin: 0 auto;
      margin-top: 50px;
      display: flex;

      justify-content: center;
      width: 100%;
    }

    .card {
      margin: 0 auto;
      width: 90%;
      display: flex;
      flex-direction: column;
      /* border: 2px red solid; */
      margin: 20px 0px;
      box-sizing: border-box;
    }
  }

  @media (max-width: 524px) {
    .button1 {
      border: 1px #2db0ba solid;
      color: #2db0ba;
      border-radius: 5px;
      width: 30%;
      height: 35px;
    }

    .button2 {
      width: 30%;
    }

    header input {
      width: 60%;
    }

    .offer {
      /* border: 2px red solid; */
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #ebedee;
      padding: 50px;
    }
  }

  .right-start {
    font-size: 0.7rem;
    overflow: auto;
  }

  .right-end {
    font-size: 0.8rem;
    overflow: auto;
  }
}
